.chat-user {
  .uploader {
    width: 80px;
    height: 80px;
    border: 1px dashed #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 0.25s ease-out;

    & > img {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      margin: 2px;
      border-radius: 9px;
    }

    .upload-icon {
      font-size: 20px;
      color: var(--text-color-primary);
      transition: color 0.25s ease-out;
    }

    &:hover {
      border-color: var(--main-color);

      & .upload-icon {
        color: var(--main-color);
      }
    }
  }

  .name-input {
    width: 80px;
    padding: 4px;
    text-align: center;
  }
}
