.color-palette {
  .palette-item {
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    transition: width 0.25s ease-out;

    &:not(.has-title):hover {
      width: calc(100% + 20px);
    }

    .palette {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .light {
    span {
      color: black;
    }
  }

  .dark {
    span {
      color: white;
    }
  }
}
