.warrant-find {
  .total {
    text-wrap: nowrap;
  }

  .badge {
    padding: 0 4px;
    min-width: 20px;
    margin-left: 4px;
    background-color: var(--blue-color-level-6);
    border-radius: 100px;
    color: white;
  }
}
