.bg-container {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(#4a4a4a, #2d3441);
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  .square-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    min-height: 200px;

    .square-decorator {
      width: 100%;
      height: 200px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      &.square-left {
        background-color: #ed7474;
        transform: rotateZ(-17deg) translate(-10%, -100px);
      }

      &.square-right {
        background-color: #3a6a8f;
        transform: rotateZ(16deg) translate(40px, -170px);
      }
    }
  }

  .assets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > label {
      color: white;
      font-size: 16px;

      & > label {
        color: grey;
        font-size: 14px;
      }
    }
  }

  .warn {
    font-size: 12px;
    color: #e7b220;
  }
}
