.forms {
  height: 100%;
  overflow: hidden;

  :global(.ant-form-item-label) {
    min-width: 100px;
    text-align: left;
  }

  .loading {
    &,
    :global(.ant-spin-container) {
      height: 100%;
    }
  }

  .tabs {
    height: 100%;
    :global {
      .ant-tabs-nav {
        margin-bottom: 0;
      }

      .ant-tabs-content-holder {
        padding-top: 20px;
        flex: 1;
        overflow-y: scroll;
      }
    }
  }
}
