.theme-light {
  --theme-name: light;

  --main-color: #006fff;

  --nav-background-color: #14437b;
  --menu-background-color: #f7f8fa;
  --system-background-color: #ffffff;
  --auxiliary-background-color: #f2f3f5;

  --border-color-primary: #c9cdd4;
  --border-color-secondary: #e5e6eb;
  --border-color-tertiary: #f2f3f5;

  --text-color-primary: #000000cc;
  --text-color-secondary: #000000a6;
  --text-color-tertiary: #00000073;

  --success-color-normal: #20b44a;
  --success-color-hover: #3fc360;
  --success-color-focus: #159a3f;

  --warning-color-normal: #fa8f1b;
  --warning-color-hover: #fba843;
  --warning-color-focus: #cf6d11;

  --danger-color-normal: #f5424d;
  --danger-color-hover: #f76267;
  --danger-color-focus: #cb2939;

  --blue-color-default: #006fff;
  --blue-color-level-01: #e8f6ff;
  --blue-color-level-02: #bae1ff;
  --blue-color-level-03: #8bc9ff;
  --blue-color-level-04: #5daeff;
  --blue-color-level-05: #2e90ff;
  --blue-color-level-06: #006fff;
  --blue-color-level-07: #0054d2;
  --blue-color-level-08: #003da6;
  --blue-color-level-09: #002879;
  --blue-color-level-10: #00174d;

  --gray-color-default: #6d7480;
  --gray-color-level-00: #ffffff;
  --gray-color-level-01: #f7f8fa;
  --gray-color-level-02: #f2f3f5;
  --gray-color-level-03: #e5e6eb;
  --gray-color-level-04: #c9cdd4;
  --gray-color-level-05: #a9aeb8;
  --gray-color-level-06: #86909c;
  --gray-color-level-07: #6b7785;
  --gray-color-level-08: #4e5969;
  --gray-color-level-09: #272e3b;
  --gray-color-level-10: #1d2129;
  --gray-color-level-11: #000000;

  --green-color-default: #20b44a;
  --green-color-level-01: #e8ffeb;
  --green-color-level-02: #b7f0c0;
  --green-color-level-03: #8be19b;
  --green-color-level-04: #63d27b;
  --green-color-level-05: #3fc360;
  --green-color-level-06: #20b44a;
  --green-color-level-07: #159a3f;
  --green-color-level-08: #0b8034;
  --green-color-level-09: #05662a;
  --green-color-level-10: #004d20;

  --orange-color-default: #fb972f;
  --orange-color-level-01: #fff8e8;
  --orange-color-level-02: #fee8be;
  --orange-color-level-03: #fdd595;
  --orange-color-level-04: #fcc06c;
  --orange-color-level-05: #fba843;
  --orange-color-level-06: #fa8f1b;
  --orange-color-level-07: #cf6d11;
  --orange-color-level-08: #a34e09;
  --orange-color-level-09: #783403;
  --orange-color-level-10: #4d1d00;

  --red-color-default: #f5424d;
  --red-color-level-01: #ffeae8;
  --red-color-level-02: #fdc9c6;
  --red-color-level-03: #fba7a4;
  --red-color-level-04: #f98383;
  --red-color-level-05: #f76267;
  --red-color-level-06: #f5424d;
  --red-color-level-07: #cb2939;
  --red-color-level-08: #a11628;
  --red-color-level-09: #77081a;
  --red-color-level-10: #4d000f;

  --cyan-color-default: #00a3fa;
  --cyan-color-level-01: #e8fbff;
  --cyan-color-level-02: #b9effe;
  --cyan-color-level-03: #8ae0fd;
  --cyan-color-level-04: #5ccffc;
  --cyan-color-level-05: #2ebafb;
  --cyan-color-level-06: #00a3fa;
  --cyan-color-level-07: #007fcf;
  --cyan-color-level-08: #005fa3;
  --cyan-color-level-09: #004278;
  --cyan-color-level-10: #00284d;

  --purple-color-default: #722ed1;
  --purple-color-level-01: #f5e8ff;
  --purple-color-level-02: #ddbef6;
  --purple-color-level-03: #c396ed;
  --purple-color-level-04: #a871e3;
  --purple-color-level-05: #8d4eda;
  --purple-color-level-06: #722ed1;
  --purple-color-level-07: #551db0;
  --purple-color-level-08: #3c108f;
  --purple-color-level-09: #27066e;
  --purple-color-level-10: #16004d;

  --yellow-color-default: #f7ba1e;
  --yellow-color-level-01: #fffce8;
  --yellow-color-level-02: #fdf4bf;
  --yellow-color-level-03: #fce996;
  --yellow-color-level-04: #fadc6d;
  --yellow-color-level-05: #f9cc45;
  --yellow-color-level-06: #f7ba1e;
  --yellow-color-level-07: #cc9213;
  --yellow-color-level-08: #a26d0a;
  --yellow-color-level-09: #774b04;
  --yellow-color-level-10: #4d2d00;

  --magenta-color-default: #d91ad9;
  --magenta-color-level-01: #ffe8fb;
  --magenta-color-level-02: #f7baef;
  --magenta-color-level-03: #f08ee6;
  --magenta-color-level-04: #e865df;
  --magenta-color-level-05: #e13edb;
  --magenta-color-level-06: #d91ad9;
  --magenta-color-level-07: #b010b6;
  --magenta-color-level-08: #810993;
  --magenta-color-level-09: #650370;
  --magenta-color-level-10: #42004d;

  /// custom components
  --popover-shadow-color: 0, 0, 0;
}
