.examples {
  position: relative;

  .block {
    touch-action: none;
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: var(--red-color-level-6);
    top: 0;
    left: 0;
  }
}
