@use 'sass:math';

$pad-width: 100px;

.number-pad {
  width: $pad-width;
  height: $pad-width;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .cell {
    width: math.div($pad-width, 3);
    height: math.div($pad-width, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & > span {
      font-size: 20px;
      color: darkgray;
    }

    &:hover {
      & > span {
        color: black;
      }
    }
  }
}
