.subway-flow {
  .flow {
    pointer-events: none;
  }

  :global {
    .react-flow__panel.react-flow__attribution {
      display: none;
    }

    .simplebar-track.simplebar-horizontal .simplebar-scrollbar::before {
      bottom: 0px;
    }
  }
}
