@use 'sass:math';

$sudokuW: 300px;
$border-color: black;

.sudoku {
  width: $sudokuW;
  height: $sudokuW;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  user-select: none;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    border: 2px solid black;
    pointer-events: none;
  }

  .unit {
    width: math.div($sudokuW, 3);
    height: math.div($sudokuW, 3);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      border: 1px solid black;
      pointer-events: none;
    }

    .cell {
      box-sizing: border-box;
      width: math.div($sudokuW, 9);
      height: math.div($sudokuW, 9);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      & > span {
        font-size: 20px;
      }

      .inputer {
        padding: 0 2px;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        border: 1px solid lightgray;
        pointer-events: none;
      }
    }
  }
}

.sudoku-popover {
  :global(.ant-popover-inner) {
    padding: 8px;
  }
}
